*
{
font-family:Arial;
text-decoration:none;
}

body
{
background:#666666;
}

div.rahmen 
{
font-size:11pt;
background:#4995C9;
border-style:ridge;
border-color:white;
text-align:center;
}


td.rahmen 
{
font-size:11pt;
background:#7FB2FF;
border-style:ridge;
border-color:white;
text-align:center;
}



a{
color:white;
font-weight:bold;
}

.center
{
text-align:center;
}

.über
{
color:white;
font-size:30pt;
font-style:italic;
text-align:center;
} 

.login
{
font-size:11pt;
text-align:left;
color:white;
font-weight:bold;
}

.anmeld
{
color:black;
text-align:center;
}

img 
{
border:0;
}

.fett
{
color:black;
font-weight:bold;
}









*.angebot
{
text-align:left;
}

a.angebot{
display:block;
color:white;;
border-style:ridge;
border-color:white;
background:#03325E;
font-size:12;
}


span.angebot
{
font-size:12pt;
font-weight:bold;
color:white;
}

p.angebot
{
font-size:14pt;
font-weight:bold;
color:red;
text-align:right;
}



#ang1
{top:360;left:15;width:280;height:150;position:absolute;}
#ang2
{top:360;left:305;width:280;height:150;position:absolute;}
#ang3
{top:520;left:15;width:280;height:150;position:absolute;}
#ang4
{top:520;left:305;width:280;height:150;position:absolute;}



div.shop
{
border-style:ridge;
border-color:white;
color:white;
background:#03325E;
text-align:center;
vertical-align:middle;
}

a.shop
{
color:white;
font-weight:none;
}
